html {
    background-color: rgb(240, 183, 221);
}

i {
    color: black;
    transition: transform .7s ease-in-out;
}

button {
    text-align: center;
    font-size: 50px;
    height: 90px;
    width: 90px;
    line-height: 0.25em;
    border-radius: 25px;
    box-shadow: 3px 3px;
    margin: 5px 5px;
    background-color: rgb(221, 241, 235);
}

i:hover {
    transform: rotate(360deg);
    font-size: large;
}

.github {
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    box-shadow: 5px 5px;
    height: 700px;
    width: 500px;
    margin: auto;
    margin-top: 70px;
    background-color: grey;
}

.box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    font-size: 60px;
    height: 150px;
    width: 400px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    background-color: rgb(206, 209, 206);
    -webkit-box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 8px 4px rgba(0,0,0,0.75);
    
}

.buttons {
    text-align: center;
}

#equals {
    height: 90px;
    width: 190px;
}

#equals:hover {
    background-color: rgb(104, 223, 104);
    transform: scale(1.05);
    transition: transform .2s ease-in-out;
}

#operator:hover {
    background-color: aquamarine;
    transform: scale(1.05);
    transition: transform .2s ease-in-out;
}

#digit:hover {
    background-color: rgb(242, 245, 77);
    transform: scale(1.05);
    transition: transform .2s ease-in-out;
}

#clear:hover {
    background-color: rgb(245, 113, 108);
    transform: scale(1.05);
    transition: transform .2s ease-in-out;
}